<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Socket name="Socket" host="ca4ac19f-0058-442d-89da-c59f0a5c8441-ls.logit.io" port="17759" protocol="UDP">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-6level %logger{36} - %msg%n"/>
        </Socket>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <loggers>
        <Logger name="si.meshetr.ad_catalogue" level="info">
            <AppenderRef ref="Socket"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </loggers>
</Configuration>

<!--
<Configuration status="WARN">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <Socket name="Socket" host="ca4ac19f-0058-442d-89da-c59f0a5c8441-ls.logit.io" port="17759" protocol="UDP">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [t] %-5level %logger{36} - %msg%n"/>
        </Socket>
    </Console>
</Appenders>
<Loggers>
    <Root>
        <AppenderRef ref="Console"/>
    </Root>
    <Root>
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>
</Configuration>-->
